<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.wafbla"
    android:versionCode="29">

    <application
        android:name="com.apps.wafbla.FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">

        <activity
            android:name="com.apps.wafbla.PreFinish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.LastStep"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.RolesStep"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.AdviserAccount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.MemberRole"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.RegisterChapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.JoinChapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.wafbla.LockScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.FBLAHome"
            android:label="@string/title_activity_fblahome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.sathv.ohsfbla_TARGET_FH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.wafbla.CreateFBLAAccount"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.wafbla.ChapterSettings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.apps.wafbla.Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apps.wafbla.RatingSheet"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.apps.wafbla.ANote"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.apps.wafbla.Hello"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.apps.wafbla.Settings" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <service android:name="com.apps.wafbla.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.apps.wafbla.MyFirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>